.container{
    font-family: "Poppins";
    user-select: none;
    overflow-y: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-image: 
    url("public/background_register.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left center;
    .白牡丹夹带的私活{
        font-size: 10px;
    }
    .register-title{
        font-size: 2.5rem;
        line-height: 1.75rem;
        text-align: center;
        font-weight: 800;
        color:#4d4d4d
    }
    .return{
        color: black;
    }
    height: 100vh;
    .register_container{
        margin-left: -1000px;
        background: #f1f7fe;
        padding: 5em;
        display: flex;
        flex-direction: column;
        border-radius: 30px;
        box-shadow: 0 0 2em #e6e9f9;
        gap: 1em;
        .account{
            width: 300px;
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 0.7em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
        }
        .email{
            width: 300px;
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 0.7em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
        }
        .studentNo{
            width: 300px;
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 0.7em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
        }
        .phone{
            width: 300px;
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 0.7em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
        }
        .nickname{
            width: 300px;
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 0.7em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
        }
        .account_input{
            outline: none;
            border: none;
        }
        .password {
            background: white;
            box-shadow: 0 0 2em #e6e9f9;
            padding: 0.7em;
            display: flex;
            flex-direction: column;
            gap: 0.5em;
            border-radius: 20px;
            color: #4d4d4d;
        }
        .password_input {
            outline: none;
            border: none;
        }
        .register_button {
            cursor: pointer;
            display: flex;
            justify-content: flex-end;
            .btn_register {
                display:block;
                padding-top:0.75rem;
                padding-bottom:0.75rem;
                padding-left:1.25rem;
                padding-right:1.25rem;
                background-color:cornflowerblue;
                color:aliceblue;
                font-size: 0.875rem;
                line-height: 1.25rem;
                font-weight: 500;
                width: 100%;
                border-radius: 0.5rem;
            }
        }
    }
}